
__pycache__/
*.py[cod]
*.sqlite3
*.log


*.db
*.env
*.pot
*.pyc
*.pyo
*.pyd
media/
staticfiles/


.backend/.env
*.env.*


.vscode/
.idea/
*.swp


.DS_Store
Thumbs.db


venv/
env/
ENV/


*/migrations/__pycache__/
*/migrations/*.pyc
